.spinner{
  color: #f3798c;
}

.alert{
  position: absolute;
  width: 70%;
  height: 60px;
  margin: auto;
  top: 25px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.alertContent{
  color: #ffffff;
  display: flex;
  width: 90%;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
}

.error{
  background-color: #ba4848;
  cursor: pointer;
}

.errorContent{
  flex-grow: 1;
}